<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903702799401-siilr8lb4us7141bc3be7t81cdr9j908.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903702799401-siilr8lb4us7141bc3be7t81cdr9j908</string>
	<key>API_KEY</key>
	<string>AIzaSyDXeui99Ag9emfF0g4sbrGt5RtAgQMVt_4</string>
	<key>GCM_SENDER_ID</key>
	<string>903702799401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tomasgalvanhuerta.Chico-Admin</string>
	<key>PROJECT_ID</key>
	<string>chico-nav</string>
	<key>STORAGE_BUCKET</key>
	<string>chico-nav.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:903702799401:ios:f35acd9e4fe1c10f16a838</string>
	<key>DATABASE_URL</key>
	<string>https://chico-nav.firebaseio.com</string>
</dict>
</plist>
